
<section class="w3l-homeblock3" id="clients">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Müşterilerim ve Ortaklarım</span>
                    <h3 class="title-big">
                     Ortaklarım ve 
                        <span> İşbirlikleri.</span>
                    </h3>
                    <p class="mt-4">
                        Over the past ten years, I've been fortunate to work with and for people from some
                        amazing organizations.
                    </p>
                    <div class="reward-list mt-5">
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                1k+
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">
                                    TOPLAM MÜŞTERİLER
                                </span>
                                <p class="reward-item-descr">18'den fazla ülke</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                95%
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">HASSAS GERİ BİLDİRİM</span>
                                <p class="reward-item-descr">Tasarım kalitesi için</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                150+
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">
                                    GÜVENİLİR SPONSORLAR
                                </span>
                                <p class="reward-item-descr">En üst sıralarda yer alan kişiler tarafından öne çıkanlar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self text-center mt-lg-0 mt-md-5 mt-4">
                    <div class="images">
                        <img src="~/Templates/iportfolio-starter/assets/images/client7.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client8.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client9.jpg"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client10.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client11.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client6.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client2.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client3.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                        <img src="~/Templates/iportfolio-starter/assets/images/client4.png"style="height:150px; width:190px;" class="img-fluid" alt="" />
                    </div>                                                                      
                </div>
            </div>
        </div>
    </div>
</section>
