
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" class="form-group">
    <label> Hizmet Başlığını Giriniz</label>
    <input type="text" class="form-control" name="ServiceName">
    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>

